.dataEditTable, .importoEditTable, .selectEditTable, .tipoSpesaEditTable {
    color: black;
}

.btnSalvaRigaTable, .btnAnnullaRigaTable, .btnEditaRigaTable, .btnEliminaRiga {
    color: black;
    margin: 0 auto;
}

td.cellaPrimoBottone, td.cellaSecondoBottone {
    padding-right: 0;
}

td.cellaPrimoBottone {
    background-color: transparent;
}

td.cellaSecondoBottone {
    background-color: transparent;
}