.navMenu {
    display: block;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    font-size: 20px;
    text-align: center;
    width: 90px;
    height: 100vh;
    list-style-type: none;
    /* margin: 0; */
    padding: 50px 8px;
    background-color: lightgray;
    margin-top: 60px;
}