.containerForm{
    padding: 10%;
    height: 100%;
}

.formAggiungiDati{
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5%;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.formAggiungiDati > label {
    color: rgb(0, 0, 0, 0.6);
    float: left;
    margin-left: 25%;
}

.formDate, .formSelect, .formText  {
    width: 50%;
    padding: 2px;
    margin-bottom: 10px;
}

.containerRadioButtons > #no {
    margin-left: 10%;
}

.containerRadioButtons > label {
    color: rgb(0, 0, 0, 0.6);
}

.submitForm {
    width: 25%;
    margin-top: 5%;
    padding: 2% 3%;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(0, 180, 15);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.submitForm:hover {
    background-color: rgb(0, 130, 15);
}

@media (min-width: 950px) {

    .formAggiungiDati {
        width: 50%;
    }

    .containerForm {
        padding-top: 5%;
    }
    
}