.containerForm {
    padding: 2%;
    height: 55%;
}

.formAggiungiDati {
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.formTitolo {
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
    padding: 4%;
}

/* Tutti i container di input e label */
.containerFormData, 
.containerFormTipoSpesa,
.containerFormImporto,
.containerFormRadioRicevuta {
    margin: 0 auto 5px auto;
    padding: 3%;
    width: 60%;
    font-size: 15px;
}

/* Tutte le label tranne del radio button */
.containerFormData > label, 
.containerFormTipoSpesa > label,
.containerFormImporto > label {
    display: block;
    float: left;
}

/* Tutti gli input tranne quello del radio button */
.containerFormData > input, 
.containerFormTipoSpesa > select,
.containerFormImporto > input {
    width: 100%;
    padding: 2%;
    border: none;
    border-bottom: solid 2px rgba(230,230,230,255);
    background: transparent;
    outline: none;
}

.containerFormData > input:focus, 
.containerFormTipoSpesa > select:focus,
.containerFormImporto > input:focus {
    border-bottom: solid 2px rgb(0, 150, 0, 0.7);
    outline: 0;
}

/* Label radio button */
.containerRadioButtons > label {
    font-size: 17px;
}

/* Container di solo le 'sfere' del radio button */
.containerRadioButtons > input {
    cursor: pointer;
    width: 25px;
    height: 15px;
}

/* Container bottoni in fondo alla form */
.containerFormButtons {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Button form submit dati */
.submitForm {
    font-size: 15px;
    border-radius: 50px;
    width: 70px;
    border: none;
    padding: 2% 3%;
    cursor: pointer;
    background-color: rgb(0, 150, 0, 0.7);
}

.submitForm:hover {
    background-color: rgb(0, 130, 0, 0.7);
}